<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/admin" method="post">
	<input type="text" name="p1name" /><br />
	<input type="text" name="p2name" /><br />
	<input type="submit" name="betting" value="start" />
	<input type="submit" name="betting" value="stop" />
	<br />
	Who won?
	<input type="submit" name="winner" value="1" />
	<input type="submit" name="winner" value="2" />
</form>
	
<% 	output = ""
		i = 0
		$db.exec('SELECT name, bucks FROM users ORDER BY bucks DESC').each{|result| output += (i+=1).to_s + "\t" + result.to_s + "<br/>\n" } %>
<%= output %>
</body>
</html>
