<html>
<head>

</head>
<body>
<form action="/admin" method="post">
	<input type="text" name="p1name" /><br />
	<input type="text" name="p2name" /><br />
		<input type="submit" name="betting" value="start" />
		<input type="submit" name="betting" value="stop" />
	</form>
</body>
</html>
