<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Anthony Taormina">
        <meta name="description" content="A localized Salty Bet game for a SAB@CC event.">
        <title>Salty But</title>
        <link rel="stylesheet" type="text/css" href="master.css"/>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Begin Header/Navigation -->
        <div id="header">
            <div style="position:absolute; left:0">
                <a href="/" id="logo"><img src="images/SALTYBETheader2.png"></a>
            </div>
            <!--<div style="display:inline-block; margin:6px; font-size:20px;">
                <span id="tournamentname">Duane's Fantabulous Salt Emporium</span>
            </div>-->
        </div>

        <!-- Status Bar -->
        <div id="status">
                <span id="betstatus">Waiting for the next match.</span> <!-- Sonic the hedgehog wins! Payouts to Team Red. red color-->
                <input type="hidden" id="u" name="u" value ="318134" />
                <input type="hidden" id="b" name="b" value ="500" />
        </div>
        
        <div id="bottomcontent">
            <!-- Wager Information -->
            <div id="wagerwrapper">
                    <span style="font-size:1.2em;">Place your bet - <span class="hudtext"> Salty Bucks </span><span class="greentext">$</span><span id="balance" class="greentext">500</span></span>
                    <br/>
                    <input type="text" name="wager" id="wager" placeholder="Wager"/><br/>
                    <ul>
                        <li class="menu"><span class="hudtext"> Last Bet </span><span id="lastbet">
                            <span id="lastbet" style="display: inline;">$20 on <span class="redtext">Renna</span></span></span></li>
                        <li class="menu"><span class="hudtext"> Odds </span><span id="odds"><span id="odds" style="display: inline;"><span class="redtext">4.4</span>:1 (<span class="greentext">$88</span>)</span></span></li>
                    </ul>
            </div>

            <!-- Fight Card -->
            <form id="fightcard" name="fightcard">
                <input type="hidden" id="selectedplayer" name="selectedplayer" />
                <!-- Red Card -->
                <div class="betcard left redborder">
                    <div class="left">
                        <span id="p1name" class="redtext">Player 1</span><br/><br/>
                        <span class="field" id="player1wager">$50</span><br/>
                    </div>
                    <div class="right">
    
                        <span class="submit">
                            <input name="player1" type="submit" value="" class="betbuttonred"/>
                        </span>
                    </div>
                </div>
                <!-- Blue Card -->
                <div class="betcard right blueborder">
                    <div class="left">
                        <span class="submit">
                            <input name="player2" type="submit" value="" class="betbuttonblue"/>
                        </span>
                    </div>
                    <div class="right">
                        <span id="p2name" class="bluetext">Player 2</span><br/><br/>
                        <span class="field" id="player2wager">$255,456</span><br/>
                    </div>
    
                </div>
                
            </form>
            <!-- End Fight Card -->
        </div>
        <!-- Begin Footer -->
        <div id="footer">
            <div class="footerleft">
                <a href="/logout">Logout</a>
            </div>
            <div class="footerright">
                GrumpyOwl (#<span id="ranking">36655</span>)
            </div>
        </div> <!-- End Footer -->
    </body>
</html>
