<html>

<head>
	<title>Login or register!</title>
  <link rel="stylesheet" type="text/css" href="master.css"/>
</head>
<body>
<form action="login" method="post">
	Username: <input type="text" name="username" /><br />
	Password: <input type="password" name="password" /><br />
	<input type="submit" value="submit" />
</form>
</body>

</html>
