<!DOCTYPE html>
<html>
    <head>
        <title>Salty But</title>
        <link rel="stylesheet" type="text/css" href="master.css"/>
    </head>
    <body>
    <h1>SAB@CC presents Duane's Fantabulous Salt Emporium</h1>

    <form class="fancyform" action="login" method="post">
        Username: <input class="field" type="text" name="username" /><br />
        Password: <input class="field" type="password" name="password" /><br />
        <input class="greenbutton" type="submit" value="Login or register!" />
    </form>
    </body>
</html>
